<style>
    .rc-form button {
    background: transparent linear-gradient(180deg,#008d77 0%,#00483d 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0 4px 6px #00000029;
    border-radius: 13px;
    width: 275px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    padding: 8px 10px;
}
</style>
<div class="rc-form comment-form">
    <div class="row">
        <div class="col">
            <div class="control">
                <input type="text" name="Title" placeholder="Họ tên *"
                    data-required="1">
            </div>
        </div>
        <div class="col">
            <div class="control">
                <input type="tel" name="Phone" placeholder="Điện thoại">
            </div>
        </div>

        <div class="col">
            <div class="control">
                <input type="email" name="Email" placeholder="Email">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="control">
                <textarea title="Nội dung" placeholder="Nội dung. Tối thiểu 15
                    ký tự *" name="Content" spellcheck="false" data-required="1"
                    data-minlength="15" style="height: 52px; overflow-y:
                    hidden;"></textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p class="note">Để gửi bình luận, bạn cần nhập tối thiểu trường họ
                tên và nội dung</p>
        </div>
        <div class="col col-end">
            <button type="submit"><i class="icon-sending"></i> Gửi bình luận</button>
        </div>
    </div>
</div>